<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <appSettings>
    <add key="integrationUrl" value="http://commerceserviceapi/"/>
    <add key="username" value="admin"/>
    <add key="password" value="store"/>
    <add key="OutputDirectory" value="E:\Temp\Integration\Output"/>
    <add key="SiteName" value="CommerceServiceApi"/>
    <add key="CatalogName" value="Departmental Catalog"/>
  </appSettings>
</configuration>
